<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  
  <appSettings>
    <add key="activeConnection" value="demo"/>
  </appSettings>
  
  <connectionStrings>

    <add name="demo" connectionString="Data Source=.;Initial Catalog=demoDataBase;Integrated Security=True"
      providerName="System.Data.SqlClient" />

    <add name="demo2" connectionString="Data Source=.;Initial Catalog=demo2DataBase;Integrated Security=True"
     providerName="System.Data.SqlClient" />

    <add name="demo3" connectionString="Data Source=.;Initial Catalog=demo3DataBase;Integrated Security=True"
     providerName="System.Data.SqlClient" />
    
  </connectionStrings>
  
</configuration>